@import url(/assets/css/Axiforma.css);
@import url(/assets/css/bootstrap-icons.css);
@import url(/assets/css/bootstrap.min.css);

:root {
  --bs-body-font-family: "Axiforma";
  --bs-body-bg: #08203e;
  --bs-body-color: #fff;
  --bs-gradient: linear-gradient(90deg, #1255a8 0%, #083c7d 100%);

  --bs-danger: #942841;
  --bs-danger-rgb: 148, 40, 65;
  --bs-success: #57880d;
  --bs-success-rgb: 87, 136, 13;
  --bs-primary: #1255a8;
  --bs-primary-rgb: 18, 85, 168;
  --bs-primary-hover: #083c7d;
  --bs-secondary: #595a5b;
  --bs-secondary-rgb: 89, 90, 91;

  --bs-border-color: #ffffff1a;

  --top-nav-height: 80px;
  --top-nav-bg: #1a1c1e;
  --bs-link-color: var(--bs-primary);
  --bs-link-hover-color: var(--bs-primary-hover);
  --badge-primary-text: var(--bs-primary);
  --badge-primary-bg: #f5faff;

  --bs-border-radius: 12px;
  --iti-arrow-color: var(--bs-secondary);

  --custom-dropdown-bg: #1a1c1e;
}

*,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

dl,
ol,
ul {
  margin-bottom: 0;
  padding-left: 1.5rem;
}

b,
strong {
  font-weight: 600;
}

::-webkit-scrollbar-track {
  background-color: #f1f2f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  height: 43px;
  background-color: #a9afbb;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1255a8;
}

:focus-visible {
  outline: none;
}

body {
  font-family: "Axiforma";
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

a,
a:hover {
  text-decoration: none;
  color: var(--bs-primary);
}

a:hover {
  color: var(--bs-primary-hover);
}

a:-webkit-any-link:focus-visible {
  outline: none;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.max-w-760 {
  max-width: 760px;
}

.p-18 {
  padding: 18px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-11 {
  padding-bottom: 11px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.py-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.ms-6 {
  margin-left: 6px !important;
}

.ms-12 {
  margin-left: 12px !important;
}

.ms-17 {
  margin-left: 17px !important;
}

.ms-40 {
  margin-left: 40px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-41 {
  margin-top: 41px !important;
}

.mt-44 {
  margin-top: 44px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.me-10 {
  margin-right: 10px !important;
}

.me-12 {
  margin-right: 12px !important;
}

.g-12 {
  --bs-gutter-x: 12px;
  --bs-gutter-y: 12px;
}

.g-20 {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
}

.gy-20 {
  --bs-gutter-y: 20px;
}

.gy-32 {
  --bs-gutter-y: 32px;
}

.my-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.ff-thin {
  font-family: "Axiforma-Thin" !important;
}

.ff-light {
  font-family: "Axiforma-Light" !important;
}

.ff-book {
  font-family: "Axiforma-Book" !important;
}

.ff-regular {
  font-family: "Axiforma" !important;
}

.ff-medium {
  font-family: "Axiforma-Medium" !important;
}

.ff-semibold {
  font-family: "Axiforma-SemiBold" !important;
}

.ff-bold {
  font-family: "Axiforma-Bold" !important;
}

.ff-extrabold {
  font-family: "Axiforma-ExtraBold" !important;
}

.ff-black {
  font-family: "Axiforma-Black" !important;
}

.ff-heavy {
  font-family: "Axiforma-Heavy" !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-20 {
  font-size: 20px !important;
}

.text-primary-head {
  color: var(--bs-primary) !important;
}

.text-primary-head:hover {
  color: #fff !important;
}

.text-head {
  color: #4382d2 !important;
}

.text-success-dark {
  color: #027a48 !important;
}

.text-danger-dark {
  color: #b42318 !important;
}

.text-primary-hover:hover svg path,
.text-primary-hover:focus svg path,
.text-primary-hover:active svg path,
.text-primary-hover:hover svg rect,
.text-primary-hover:focus svg rect,
.text-primary-hover:active svg rect {
  stroke: #166dda;
}

.z-1 {
  z-index: 1 !important;
}

.shadow {
  box-shadow: 0px 1px 2px 0px #1018280a !important;
}

.rounded {
  border-radius: 6px !important;
}

.rounded-2,
.rounded-8 {
  border-radius: 8px !important;
}

.rounded-12 {
  border-radius: 12px !important;
}

.rounded-4,
.rounded-16 {
  border-radius: 16px !important;
}

.rounded-24 {
  border-radius: 24px !important;
}

.bg-light {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  ) !important;
}

.bg-dark {
  background: #04142c !important;
}
.btn {
  --bs-btn-padding-x: 13.365px;
  --bs-btn-padding-y: 6.7px;
  --bs-btn-box-shadow: 0px -33px 4px 0px #0000000a inset;
  --bs-btn-font-family: "Axiforma-SemiBold";
  --bs-btn-font-weight: 600;
  --bs-btn-font-size: 14px;
  --bs-btn-line-height: 100%;
  --bs-btn-border-width: 1px;
  --bs-btn-border-radius: 6px;
  background: var(--bs-btn-bg);
  text-transform: capitalize;
}

.btn-primary {
  --bs-btn-border-width: 0;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-primary-hover);
  --bs-btn-hover-border-color: var(--bs-primary-hover);
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: var(--bs-primary-hover);
  --bs-btn-active-border-color: var(--bs-primary-hover);
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
  background: linear-gradient(
    90deg,
    var(--bs-primary) 0%,
    var(--bs-primary-hover) 100%
  );
}

.btn-primary:hover {
  background: linear-gradient(
    90deg,
    var(--bs-primary-hover) 0%,
    var(--bs-primary) 100%
  );
}

.btn-primary-head {
  --bs-btn-border-width: 0;
  --bs-btn-padding-x: 14.162px;
  --bs-btn-padding-y: 8px;
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #166ddae0;
  --bs-btn-hover-bg: #166dda0a;
  --bs-btn-hover-border-color: #166dda;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #166ddae0;
  --bs-btn-active-bg: #166dda0a;
  --bs-btn-active-border-color: #166dda;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary);
  --bs-btn-font-family: "Axiforma";
  --bs-btn-font-weight: 400;
  --bs-btn-padding-x: 19.538px;
  --bs-btn-padding-y: 7.45px;
}

.btn-outline-primary-head {
  font-size: 12px;
  line-height: 18px;
  --bs-btn-padding-x: 11.25px;
  --bs-btn-padding-y: 5.2px;
}

.btn-outline-primary.btn-primary-head {
  --bs-btn-border-width: 1px;
}

.btn-outline-danger.btn-danger-head {
  --bs-btn-font-weight: 400;
  --bs-btn-padding-y: 7.45px;
}

.btn-primary-sm {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  --bs-btn-padding-x: 11.32px;
  --bs-btn-padding-y: 5.2px;
}

.btn-secondary {
  --bs-btn-color: #475467;
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-color: #d4d8e0;
  --bs-btn-hover-color: #394355;
  --bs-btn-hover-bg: #f9fafb;
  --bs-btn-hover-border-color: #eaecf0;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #394355;
  --bs-btn-active-bg: #f9fafb;
  --bs-btn-active-border-color: #eaecf0;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

.btn-secondary-config {
  --bs-btn-padding-x: 19.613px;
  --bs-btn-padding-y: 7.45px;
}

.btn-secondary-sm {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  --bs-btn-padding-x: 9.435px;
  --bs-btn-padding-y: 4.6px;
  --bs-btn-font-family: "Axiforma";
}

.btn-link {
  --bs-btn-padding-x: 4px;
  --bs-btn-padding-y: 4px;
  --bs-btn-box-shadow: none;
  --bs-link-color: var(--bs-primary);
  --bs-link-hover-color: #3173c5;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: none;
  text-decoration: none;
}

.btn-danger {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bs-danger);
  --bs-btn-border-color: var(--bs-danger);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #f04438;
  --bs-btn-hover-border-color: #f04438;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #f04438;
  --bs-btn-active-border-color: #f04438;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-disabled-bg: var(--bs-danger);
  --bs-btn-disabled-border-color: var(--bs-danger);
}

.btn-outline-danger {
  --bs-btn-color: var(--bs-danger);
  --bs-btn-border-color: var(--bs-danger);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f0443812;
  --bs-btn-hover-border-color: #f04438;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #f04438;
  --bs-btn-active-bg: #f0443812;
  --bs-btn-active-border-color: #f04438;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--bs-danger);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-danger);
}

.btn-group .btn {
  --bs-btn-border-color: #d4d8e0;
  --bs-btn-hover-border-color: #eaecf0;
  --bs-btn-color: #475467;
  --bs-btn-font-size: 12px;
  --bs-btn-line-height: 24px;
  --bs-btn-padding-x: 11.4px;
  --bs-btn-padding-y: 2.2px;
  --bs-btn-hover-bg: #f9fafb;
}

.btn-group .btn.active {
  border-color: #166dda;
  color: #166ddae0;
  background: #166dda0a;
}

.btn-group .btn:focus {
  border-color: #166dda;
}

.btn-group > .btn-group:not(:first-child),
.btn-group > :not(.btn-check:first-child) + .btn {
  margin-left: 0;
}

.card {
  border: 2px solid #ffffff1a;
  box-shadow: -6px 4px 15.5px 0px rgb(0 0 0 / 10%);
  background: linear-gradient(
    360deg,
    rgba(4, 27, 57, 0.8) 0%,
    rgba(2, 11, 23, 0.3) 100%
  );
}

.sub-card {
  border: 1px solid #ffffff33;
  box-shadow: -6px 4px 15.5px 0px rgb(0 0 0 / 10%);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  ) !important;
}

.form-label {
  font-family: "Axiforma-Medium";
  color: #fff;
  margin-bottom: 12px;
  text-transform: capitalize;
  font-size: 16px;
}

.form-control,
.form-select {
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 12px;
  color: #607998;
  padding: 12px 16px;
  font-family: "Axiforma";
  font-size: 16px;
  line-height: 100%;
  min-height: 50px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}

.password-field .form-control {
  padding-right: 40px;
}

.password-field .toggleEye {
  position: absolute;
  top: 14.5px;
  right: 16px;
  font-size: 18px;
}

.form-control:disabled {
  background-color: #f1f2f5;
  border-color: #eaecf0;
  color: #a9afbb;
}

.form-select {
  background-image: url("/assets/images/select-arrow.svg");
  background-size: auto;
  background-position: right 11px center;
  /* color: #A9AFBB; */
}

.form-select-sm {
  font-size: 12px;
  line-height: 18px;
  padding: 5.2px 29.8px 5.2px 9.8px;
  width: auto;
}

.form-select option:first-child,
select:invalid,
select option[value=""],
.bootstrap-select .dropdown-menu li.disabled a {
  color: #a9afbb;
}

.form-control::-moz-placeholder,
.form-select::-moz-placeholder {
  color: #607998 !important;
  opacity: 1;
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
  color: #607998 !important;
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
  color: #607998 !important;
}

.form-control:focus,
.form-select:focus {
  outline: 0;
  box-shadow: none;
  border-color: rgb(255 255 255 / 72%);
  color: #607998;
  background: transparent;
}

.phone-input.input-group:focus,
.phone-input .form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: rgb(255 255 255 / 72%);
  color: #607998;
  background: transparent;
}

.form-control[readonly],
.form-control.disabled,
.form-select[readonly],
.form-select.disabled {
  background-color: #f1f2f5;
  border-color: #eaecf0;
  color: #a9afbb;
}

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-select.is-invalid,
.was-validated .form-select:invalid,
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"],
.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"] {
  border-color: var(--bs-danger);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23F04438'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F04438' stroke='none'/%3e%3c/svg%3e");
}

.form-control.is-valid,
.was-validated .form-control:valid,
.form-select.is-valid,
.was-validated .form-select:valid,
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"] {
  border-color: #12b76a;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2312B76A' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(
    .input-group-btn
  ) {
  width: 100%;
}

.input-group-sm .form-control {
  font-size: 12px;
  line-height: 18px;
  color: #1d2939;
  padding: 5.2px 0 5.2px 10px;
  min-width: 173.4px;
  border-radius: 6px;
  min-height: unset;
}

.input-group-text {
  border-color: rgb(255 255 255 / 20%);
  color: #607998;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}

.input-group.input-group-sm.date .input-group-text {
  padding: 5.2px 8px;
}

.btn-login,
a.btn-login {
  font-size: 16px;
  line-height: 100%;
  --bs-btn-border-radius: 6px;
  --bs-btn-padding-x: 24px;
  --bs-btn-padding-y: 18px;
}

.btn-view,
.btn-remove {
  --bs-btn-padding-y: 10px;
  --bs-btn-padding-x: 13px;
  border-radius: 3px;
  font-family: "Axiforma";
  font-weight: 400;
}

.btn-view {
  border: 1px solid #fff;
}

.btn.btn-view:hover {
  background: #ffffff1a;
  border: 1px solid #ffffff1a;
}

.btn-remove {
  border: 1px solid #45679a;
  color: #45679a;
}

.btn-remove:hover {
  background: #45679a1a;
  border: 1px solid #45679a1a;
  color: #fff;
}

/* .btn-cancel, */
.modal-footer .btn.btn-cancel {
  font-weight: 400;
  font-family: "Axiforma";
  min-width: 87px;
}

.modal-footer .btn.btn-submit {
  min-width: 87px;
}

.bg-main {
  background: url("/assets/images/login-bg.jpg") no-repeat bottom;
  background-size: cover;
}

.form-login,
.form-forgot-password {
  max-width: 520px;
}

.form-register {
  max-width: 1000px;
}

.form-login form.card,
.form-register form.card,
.form-forgot-password form.card {
  padding: 60px 50px;
}

h1,
.form-title {
  /* color: #101828; */
  font-size: 24px;
  line-height: 100%;
  font-family: "Axiforma-SemiBold";
}

.form-head {
  font-family: "Axiforma";
  font-size: 16px;
  line-height: 100%;
  color: #6c87a7;
}

a.forgotPassword,
.btn-text {
  font-family: "Axiforma-Medium";
  font-size: 13px;
  line-height: 19.5px;
  color: #166dda;
}

.copyright {
  font-family: "Axiforma";
  font-size: 12px;
  line-height: 20px;
  color: rgb(241 242 245 / 77%);
  text-align: center;
}

.sidenav {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #041122;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.main-content {
  min-height: 100vh;
  position: relative;
  width: calc(100% - 300px);
  margin-left: 300px;
}

.navbar {
  --bs-navbar-padding-x: 16px;
  --bs-navbar-padding-y: 11px;
}

.sidenav .navbar-brand img {
  margin: 24px 40px;
}

.scrollbar {
  height: calc(100vh - var(--top-nav-height));
  max-height: calc(100vh - var(--top-nav-height));
  overflow: auto;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a9afbb;
  border-radius: 10px;
}

.sidenav .nav {
  --bs-nav-link-padding-x: 28px;
  --bs-nav-link-padding-y: 20px;
}

.sidenav .nav-link:focus svg path,
.sidenav .nav-link:hover svg path,
.sidenav .nav-link.active svg path {
  stroke: var(--bs-nav-link-hover-color);
}

.sidenav .nav-link:hover,
.sidenav .nav-link.active {
  color: #ffffff;
  background: linear-gradient(90deg, #002a69 0%, #041122 100%);
}

.sidenav .nav-link {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-link {
  color: #677c97;
  font-size: 16px;
}

/* .sidenav .nav-link span:nth-child(2) {
  width: 175px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.navbar-top {
  min-height: var(--top-nav-height);
  background: #04142c;
}

.navbar-top .dropdown-menu {
  position: absolute;
}

.icon-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #182d48;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.dropdown-menu {
  --bs-dropdown-spacer: 6px;
  border-color: #1c385c;
  --bs-dropdown-bg: #04142c;
  font-family: "Axiforma";
  --bs-dropdown-color: #fff;
  --bs-dropdown-link-color: #fff;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-link-hover-bg: #182d48;
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #182d48;
  --bs-dropdown-font-size: 14px;
  --bs-dropdown-border-radius: 6px;
}

.dropdown-item {
  font-size: 12px;
  line-height: 18px;
  padding: 5.2px 10px;
}

/* .dropdown-item:not(:last-child) {
  margin-bottom: 2px;
}

.dropdown-item:hover svg path,
.dropdown-item:focus svg path,
.dropdown-item:active svg path {
  stroke: #1d2939;
} */

.dropdown-item.text-danger-hover {
  --bs-dropdown-link-hover-color: var(--bs-danger);
}

.dropdown-item.text-danger-hover:hover svg path,
.dropdown-item.text-danger-hover:focus svg path,
.dropdown-item.text-danger-hover:active svg path,
.text-danger-hover:hover svg path,
.text-danger-hover:focus svg path,
.text-danger-hover:active svg path,
.text-danger-hover:hover svg rect,
.text-danger-hover:focus svg rect,
.text-danger-hover:active svg rect {
  stroke: var(--bs-danger);
}

.navbar-top .nav-link {
  font-size: 13px;
  line-height: 19.5px;
  color: #667085;
}

.content {
  min-height: calc(100vh - 80px);
  background: url(/assets/images/login-bg.jpg) no-repeat bottom;
  background-size: cover;
}

footer {
  margin: 0 20px;
  border-top: 1px solid #d4d8e0;
  padding: 19.6px 10px;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  background: var(--bs-body-bg);
}

h4,
.dash-card-subtitle {
  font-family: "Axiforma-SemiBold";
  font-size: 16px;
  line-height: 19.36px;
  color: #1d2939;
}

.dash-card-subtitle {
  color: #394355;
}

.dash-card-title {
  font-family: "Axiforma-SemiBold";
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
}

.dash-card-ratio {
  font-family: "Axiforma-Medium";
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}

.sec-title,
h2.sec-title,
h2.modal-title {
  font-family: "Axiforma-Medium";
  font-size: 21px;
  line-height: 25.41px;
  color: #101828;
  text-transform: capitalize;
}
.body-normal.badge {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  --bs-badge-padding-x: 8px;
  --bs-badge-padding-y: 2px;
  border-radius: 16px;
}

h3,
.card-title {
  font-family: "Axiforma-Medium";
  font-size: 20px;
  line-height: 22.99px;
  color: #1d2939;
}

.dash-card-time {
  font-family: "Axiforma";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  color: #667085;
}

.dash-info-card {
  border-color: #eaebf0 !important;
  letter-spacing: -0.10000000149011612px;
}

.dash-info-card p {
  font-family: "Axiforma-SemiBold";
  font-size: 16px;
  line-height: 24px;
  color: #1d2939;
  margin-bottom: 2px;
}

.dash-info-card span {
  font-family: "Axiforma-Medium";
  font-size: 13px;
  line-height: 18px;
  color: #5f6d7e;
}

/* .phone-input .input-group-text {
  background: transparent;
  border: none;
  border-right: 1px solid #48596e;
  color: #fff;
  font-weight: 500;
  padding: 0 12px;
}

.phone-input .form-control {
  border: none;
}

.phone-input .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.phone-input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  overflow: hidden;
} */

.phone-input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  height: 47px;
}

.phone-input .input-group-text {
  background: transparent;
  border: none;
  color: #fff;
  position: relative;
}

.phone-input .input-group-text::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #48596e; /* separator color */
}

.phone-input .form-control {
  border: none;
  background: transparent;
}

.phone-input .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.upload-box {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  border: 2px dashed rgb(255 255 255 / 20%);
  border-radius: 12px;
  padding: 30px;
  cursor: pointer;
  transition: border-color 0.3s ease, background 0.3s ease;
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px); /* Safari support */
}

.upload-box:hover {
  /* border-color: #3b82f6; */
  background: rgb(4 27 57 / 80%);
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #92a6bf;
  font-size: 14px;
  font-family: "Axiforma";
}

.choose-files {
  color: #0b78ff;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

.choose-files:hover {
  text-decoration: underline;
}

.breadcrumb {
  color: #fff;
  --bs-breadcrumb-divider-color: #455b77;
  --bs-breadcrumb-item-padding-x: 8px;
  --bs-breadcrumb-item-active-color: #455b77;
  font-size: 16px;
  font-family: "Axiforma-Medium";
  --bs-breadcrumb-margin-bottom: 0;
  letter-spacing: -0.10000000149011612px;
  text-transform: capitalize;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item + .breadcrumb-item::before {
  content: url(/assets/images/chevron-right.svg);
  /* padding-right: 8px; */
}

.breadcrumb-item a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: var(--bs-breadcrumb-item-active-color);
}

.table-card {
  border: 1px solid #1c385c;
  border-radius: 24px !important;
  background: #04142c !important;
}

.table-card-header {
  padding: 28px;
}

.table {
  --bs-table-color: #fff;
  --bs-table-bg: transparent;
  --bs-table-border-color: #eaecf0;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  vertical-align: middle;
  font-family: "Axiforma";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 0;
}

.table > :not(caption) > * > * {
  box-shadow: none;
  border-width: 0;
}

.table thead th,
.table tfoot th,
.table thead th {
  font-family: "Axiforma-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background-color: #01265f;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tbody > tr > td {
  padding: 20px 30px;
}

.table > thead > tr > th:last-child {
  padding-right: 12px;
}

.table > tbody > tr > td {
  border-bottom: 1px solid #1c385c;
}

.table > tbody > tr:last-child > td {
  border-bottom: none !important;
}

.pagination {
  --bs-pagination-padding-x: 10px;
  --bs-pagination-padding-y: 14.5px;
  --bs-pagination-font-size: 12px;
  --bs-pagination-color: #1d2939;
  --bs-pagination-bg: var(--bs-white);
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: transparent;
  --bs-pagination-border-radius: 0.375rem;
  --bs-pagination-hover-color: #1d2939;
  --bs-pagination-hover-bg: var(--bs-white);
  --bs-pagination-hover-border-color: #209ceb70;
  --bs-pagination-focus-color: #1d2939;
  --bs-pagination-focus-bg: var(--bs-white);
  --bs-pagination-focus-box-shadow: none;
  --bs-pagination-active-color: #209ceb;
  --bs-pagination-active-bg: #f9fafb;
  --bs-pagination-active-border-color: #209ceb;
  --bs-pagination-disabled-color: #0f1425a8;
  --bs-pagination-disabled-bg: var(--bs-white);
  --bs-pagination-disabled-border-color: #dde2ea;
  line-height: 18px;
  font-family: "Axiforma";
}

.pagination .page-link {
  border-radius: 6px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item:not(:first-child) .page-link {
  margin-left: 4px;
}

.pagination .page-arrow {
  border: 1px solid #d4d8e0;
}

.pagination .page-arrow svg path {
  stroke: #1d2939;
}

.pagination .page-arrow[aria-disabled="true"],
.pagination .page-arrow.disabled {
  border-color: #eaecf0;
}

.pagination .page-arrow[aria-disabled="true"] svg path,
.pagination .page-arrow.disabled svg path {
  stroke: #d4d8e0;
}

.pagination .page-arrow:hover {
  border-color: #209ceb;
}

.pagination .page-arrow:hover svg path {
  stroke: #209ceb;
}

.content-sidebar {
  position: sticky;
  width: 340px;
}

.content-right {
  position: relative;
  width: calc(100% - 360px);
  margin-left: 20px;
}

.content-sidebar-sm {
  width: 280px;
  border-right: 1px solid #eaecf0;
}

.content-right-lg {
  position: relative;
  width: calc(100% - 280px);
}

.nav-tabs {
  --bs-nav-tabs-link-hover-border-color: transparent;
  --bs-nav-tabs-border-color: #eaecf0;
}

.nav-tabs .nav-link {
  border: none;
  --bs-nav-tabs-link-active-color: #1d2939;
}

[aria-orientation="horizontal"] .nav-link {
  padding: 8px 12px 10px 12px;
}

.nav-tabs[aria-orientation="horizontal"] .nav-link {
  margin-right: 10px;
}

.nav-tabs .nav-link:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: transparent;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 2px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: #1d2939;
}

.nav-tabs .nav-link.active {
  background: linear-gradient(
    176.52deg,
    rgba(255, 255, 255, 0) -0.68%,
    rgba(32, 156, 235, 0.09) 94.49%
  );
}

.nav-tabs .nav-link.active:before {
  background: #166dda;
}

.nav-tabs.nav-tabs-vertical .nav-link,
.nav-tabs .nav-link {
  color: #667085;
  font-family: "Axiforma";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.nav-tabs.nav-tabs-vertical .nav-link {
  padding: 10px 8px 10px 12px;
  border-radius: 6px 0px 0px 6px;
  border-width: 0;
  border-radius: 0.375rem;
}

.nav-tabs.nav-tabs-vertical li:not(:last-child) .nav-link {
  margin-bottom: 12px;
}

.content-sidebar-sm .nav-tabs.nav-tabs-vertical li:not(:last-child) .nav-link {
  margin-bottom: 8px;
}

.nav-tabs.nav-tabs-vertical .nav-link:focus,
.nav-tabs.nav-tabs-vertical .nav-link:hover,
.nav-tabs.nav-tabs-vertical .nav-item.show .nav-link,
.nav-tabs.nav-tabs-vertical .nav-link.active {
  background: linear-gradient(
    270.29deg,
    rgba(255, 255, 255, 0) 5.93%,
    rgba(32, 156, 235, 0.12) 93.41%
  );
  color: var(--bs-primary);
}

.nav-tabs.nav-tabs-vertical .nav-link:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: transparent;
  top: 0;
  right: 0;
  left: auto;
  border-radius: 0;
}

.tab-number {
  background: #f1f2f5;
  color: #475467;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.tab-number .checkmark {
  display: none;
}

.nav-tabs.nav-tabs-vertical .nav-link.completed {
  /* pointer-events: none; */
  /* cursor: default; */
  color: #394355;
}

.nav-tabs.nav-tabs-vertical .nav-link.completed .tab-number .number {
  display: none;
}

.nav-tabs.nav-tabs-vertical .nav-link.completed .tab-number .checkmark {
  display: block;
}

.nav-tabs.nav-tabs-vertical .nav-link:focus .tab-number,
.nav-tabs.nav-tabs-vertical .nav-link:hover .tab-number,
.nav-tabs.nav-tabs-vertical .nav-item.show .nav-link .tab-number,
.nav-tabs.nav-tabs-vertical .nav-link.active .tab-number {
  background: linear-gradient(0deg, var(--bs-primary), var(--bs-primary)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  color: var(--bs-white);
}

.nav-tabs.nav-tabs-vertical .nav-link.completed .tab-number,
.nav-tabs.nav-tabs-vertical .nav-link.completed.active .tab-number,
.nav-tabs.nav-tabs-vertical .nav-link.completed.active:focus .tab-number,
.nav-tabs.nav-tabs-vertical .nav-link.completed.active:hover .tab-number,
.nav-tabs.nav-tabs-vertical
  .nav-item.show
  .nav-link.completed.active
  .tab-number {
  background: #12b76a1c;
}

.content-head {
  border-bottom: 1px solid #eaecf0;
  border-radius: 8px 8px 0 0;
  padding: 17.9px 16px;
}

.content-foot {
  border-top: 1px solid #f1f2f5;
  border-radius: 0 0 8px 8px;
}

div.msg-label {
  font-family: "Axiforma";
  font-size: 12px;
  line-height: 18px;
  color: #5f6d7e;
  margin-top: 6px;
}

span.msg-label {
  font-family: "Axiforma";
  font-size: 12px;
  line-height: 19.2px;
  text-transform: none;
}

.form-control.custom-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.65px 16px;
}

.input-group.date .input-group-text,
.input-group.time .input-group-text {
  background: transparent;
  cursor: pointer;
  padding: 10.2px 16px;
}

.input-group.date .form-control,
.input-group.time .form-control {
  border-right: none;
  transition: none;
}

.input-group.date .form-control:focus ~ span,
.input-group.time .form-control:focus ~ span {
  border-color: #166dda;
}

.modal-backdrop {
  --bs-backdrop-bg: #101828;
  --bs-backdrop-opacity: 0.44;
}

.modal {
  --bs-modal-width: 410px;
  --bs-modal-border-radius: 12px;
  --bs-modal-box-shadow: 0px 2px 11px 0px #24272c14;
  --bs-modal-inner-border-radius: calc(12px - 1px);
  --bs-modal-header-border-color: #f1f2f5;
  --bs-modal-header-padding: 11.6px 20px;
  --bs-modal-title-line-height: 25.41px;
  --bs-modal-footer-gap: 0;
  --bs-modal-border-width: 0;
}

.modal-header {
  background: #fcfcfd;
}

.modal-footer {
  margin-left: 24px;
  margin-right: 24px;
  padding: 22px 0;
}

.modal-footer .btn {
  min-width: 162px;
  min-height: 40px;
}

.modal .btn-close {
  width: 32px;
  height: 32px;
  padding: 0;
  color: #394355;
  background: #f1f2f5;
  border-radius: 12px;
  opacity: 1;
  margin: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  padding: 22px 24px 16px;
}

.modal.fade .modal-dialog.modal-fullscreen {
  transform: translate(680px, 0);
  margin-left: auto;
}

.modal.show .modal-dialog.modal-fullscreen {
  transform: translate(0, 0);
}

.modal-fullscreen {
  max-width: 680px;
  --bs-modal-header-padding: 19.6px 20px;
}

.modal-fullscreen-sm {
  max-width: 376px;
}

@media (min-width: 576px) {
  .modal-sm {
    --bs-modal-width: 400px;
  }
}

.form-check-inline {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
}

.form-check-input[type="checkbox"] {
  border-radius: 3px;
  width: 18px;
  height: 18px;
  border: 1px solid #425265;
  background-color: transparent;
  margin: 0;
}

.form-check-input:focus {
  outline: 0;
  box-shadow: none;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url(/assets/images/check-white.svg);
  background-size: 12px;
  background-position: center;
  border-color: #fff;
}

.form-check-input[type="checkbox"]:indeterminate {
  /* background-image: url(/assets/images/minus.svg);
	background-size: auto;
	background-position: center;
	border-color: #166DDA;
	background-color: #166DDA0A; */
  border-color: #425265;
  background-color: transparent;
  background-image: none;
}

label.form-check-label {
  font-family: "Axiforma";
  font-size: 13px;
  line-height: 20px;
  color: #667085;
}

.form-check-input:checked[type="checkbox"] + label.form-check-label {
  color: #1d2939;
}

.table-avatar {
  border: 2px solid;
  width: 32px;
  height: 32px;
}

.table-avatar.table-avatar-primary {
  border-color: #2679b2;
}

.table-avatar.table-avatar-warning {
  border-color: #fd7f23;
}

.subdata {
  font-family: "Axiforma";
  font-size: 12px;
  line-height: 14.4px;
  color: #667085;
}

td .scrollable {
  height: 224px;
  overflow-y: auto;
  padding-right: 16px;
  /* white-space: break-spaces; */
}

td[valign="top"] {
  vertical-align: top !important;
}

#deleteModal .modal-body {
  padding: 44px 24px 32px;
}

#deleteModal .modal-footer {
  padding: 0 0 32px;
  border-top: none;
}

.tooltip > .tooltip-inner {
  background-color: #1d2939;
  border-radius: 4px;
  padding: 2px 6px;
  border: none;
  font-family: "Axiforma";
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  max-width: 80px;
}

.loading-dots {
  text-align: center;
  width: 100%;
}

.loading-dots--dot {
  animation: dot-keyframes 1.5s infinite ease-in-out;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  width: 6px;
  margin: 0 2px;
}

.loading-dots--dot:nth-child(2) {
  animation-delay: 0.5s;
}

.loading-dots--dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes dot-keyframes {
  0% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 25px auto 8px auto;
  max-width: 900px;
}

.step {
  position: relative;
  text-align: center;
  flex: 1;
}

.step .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.step .title,
.step .subtitle {
  font-family: "Axiforma-Medium";
}

.step .title {
  font-size: 14px;
  color: #a8aabc;
  margin: 0;
}

.step .subtitle {
  font-size: 16px;
  margin: 5px 0;
  color: #fff;
}

.step .status {
  font-family: "Axiforma-Medium";
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 16px;
  display: inline-block;
  margin-top: 5px;
}

.step::before,
.step::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: calc(50% - 35px);
  height: 4px;
  background: #ccc;
  z-index: 0;
}

.step:first-child::before,
.step:last-child::after {
  display: none;
}
.step:nth-child(1)::after,
.step:nth-child(2)::after,
.step.pending:nth-child(2)::after,
.step.completed:nth-child(2)::after {
  left: calc(50% + 35px);
}
.step.inProgress:nth-child(2)::before {
  left: 0%;
}
.step:nth-child(2).inProgress::after {
  left: calc(50% + 35px);
}
.step:nth-child(3)::before {
  left: 0px;
}

/* ---- STEPS STATES ---- */
.step.completed .icon,
.step.completed .status,
.step.completed::after,
.step.completed:nth-child(2)::before,
.step.completed:nth-child(2)::after,
.step.inProgress:nth-child(3)::before {
  background: #25c196;
}

.step.completed .status {
  border: 2px solid #25c196;
}
.step.inProgress .icon,
.step.inProgress::before {
  background: #086edd;
}

.step.inProgress .status {
  background: #086edd;
  border: 2px solid #086edd;
}
.step.completed .status,
.step.inProgress .status {
  color: #fff;
}
.step.pending .icon {
  background: #999;
}
.step.pending .status {
  /* background: #555; */
  border: 2px solid #999;
  color: #999;
}
.step.pending::before,
.step:nth-child(1).inProgress::after,
.step:nth-child(2).inProgress::after,
.step.inProgress:nth-child(2)::after {
  background: #086edd;
}
.step.pending:nth-child(2)::before,
.step:nth-child(3)::before {
  background: #ccc;
}
.step.inProgress:nth-child(2)::before {
  background: #25c196;
}

/*---------------- START: Responsive CSS ----------------*/
@media (min-width: 768px) {
  .h-md-100 {
    height: 100% !important;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    --bs-modal-width: 680px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
}

@media (max-width: 991px) {
}

@media only screen and (max-width: 991px) {
}

@media (max-width: 768px) {
}

@media screen and (max-width: 767px) {
}

@media (max-width: 480px) {
}
